.footer {
  display: flex;
  align-items: center;
  justify-content: center;  
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #B5838D;
  color: #000;
  font-family: 'Red Hat Display', sans-serif;
  z-index: 1000;
}
