@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/GreatVibes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('./assets/fonts/RedHatDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('./assets/fonts/RedHatDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(0, 0, 0);
  background-color: #E5989B;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}

h1 {
  font-family: 'Great Vibes';
  font-weight: normal;
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-family: inherit;
  color: #FFCDB2;
  text-decoration: none;
}
a:hover {
  color: #B5838D;
}

button {
  border-radius: 20px;
  border: none;
  padding: 9px 4em 10px 4em;
  font-family: 'Red Hat Display';
  font-weight: bold;
  font-size: 1em;
  background-color: #B5838D;
  color: inherit;
  cursor: pointer;
  color: #FFCDB2;
  transition: color 0.3s ease, background-color 0.3s ease;
}
button:hover {
  background-color: #FFCDB2;
  color: #6D6875;
}

p {
  z-index: 1;
}
